{% extends "fw/frames/base.twig" %}

<!-- Main content -->
{% block header %}
    <div id="morphmenu" class="morphmenu">
        <i class="morphmenu-trigger fa fa-bars"></i>
        <header class="morphmenu-header">
            <h1 class="morphmenu-title">MEDUXA</h1>
            <h3 class="morphmenu-subtitle">Mediaset User Xperience & Appearance</h3>
        </header>

        <!-- morphmenu-content -->
        <div class="morphmenu-content row">
            {% for column in context.menu %}
            <div class="dummy-column small-12 medium-4 column">
                <h2>{{ column.title }}</h2>

                {% for item in column.items %}
                    <a class="dummy-media-object" href="{{ item.href }}">
                        <span class="round brand_ico {{ item.ico }}"></span>
                        <h3>{{ item.title }}</h3>
                    </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <!-- /morphmenu-content -->

        <span class="morphmenu-close"></span>
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block body %}
    {#<i class="logo icon-jellyfish"></i>#}
    <h1 class="main-title">MEDUXA<strong class="main-subtitle">Mediaset User Xperience & Appearance</strong></h1>
{% endblock %}