{% extends "fw/frames/base.twig" %}

<!-- Main content -->
{% block header %}
    <div id="mainmenu" class="mainmenu">
        <i class="mainmenu-trigger fa fa-bars"></i>
        <header class="mainmenu-header">
            <h1 class="mainmenu-title">MEDUXA</h1>
            <h3 class="mainmenu-subtitle">Mediaset User Xperience & Appearance</h3>
        </header>

        <!-- mainmenu-content -->
        <div class="mainmenu-content">
            {% for column in context.menu %}
            <div class="items-column">
                <h2>{{ column.title }}</h2>

                {% for item in column.items %}
                    <a class="item" href="{{ item.href }}">
                        <span class="round brand_ico {{ item.ico }}"></span>
                        <h3>{{ item.title }}</h3>
                    </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <!-- /mainmenu-content -->

        <span class="mainmenu-close"></span>
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block body %}
    {#<i class="logo icon-jellyfish"></i>#}
    <h1 class="main-title">MEDUXA<strong class="main-subtitle">Mediaset User Xperience & Appearance</strong></h1>
{% endblock %}