{% extends 'fw/frames/index.twig' %}

<!-- Main content -->
{% block header %}
    <div id="morphmenu" class="morphmenu">
        <i class="morphmenu-trigger fa fa-bars"></i>
        <header class="morphmenu-header">
            <h1 class="morphmenu-title">MEDUXA</h1>
            <h3 class="morphmenu-subtitle">Mediaset User Xperience & Appearance</h3>
        </header>
        <div class="morphmenu-content">
            <div class="dummy-column">
                <h2>Sites</h2>
                <a class="dummy-media-object" href="/">
                    <span class="round brand_ico ico-tl5"></span>
                    <h3>Telecinco</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <span class="round brand_ico ico-cuatro"></span>
                    <h3>Cuatro</h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <span class="round brand_ico ico-div"></span>
                    <h3>Divinity</h3>
                </a>
            </div>
            <div class="dummy-column">
                <h2>Modules / Components</h2>
                <a class="dummy-media-object" href="/messages">
                    <img src="../images/thumbs/AnimatedHeaderBackgrounds.png" alt="Messages Module"/>
                    <h3>Messages Module</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/05/28/arrow-navigation-styles/">
                    <img src="../images/thumbs/ArrowNavigationStyles.png" alt="ArrowNavigationStyles"/>
                    <h3>Arrow Navigation Styles</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/">
                    <img src="../images/thumbs/HoverEffectsIdeasNew.png" alt="HoverEffectsIdeasNew"/>
                    <h3>Ideas for Subtle Hover Effects</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/07/14/freebie-halcyon-days-one-page-website-template/">
                    <img src="../images/thumbs/FreebieHalcyonDays.png" alt="FreebieHalcyonDays"/>
                    <h3>Halcyon Days Template</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/05/22/inspiration-for-article-intro-effects/">
                    <img src="../images/thumbs/ArticleIntroEffects.png" alt="ArticleIntroEffects"/>
                    <h3>Inspiration for Article Intro Effects</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/06/26/draggable-dual-view-slideshow/">
                    <img src="../images/thumbs/DraggableDualViewSlideshow.png" alt="DraggableDualViewSlideshow"/>
                    <h3>Draggable Dual-View Slideshow</h3>
                </a>
            </div>
            <div class="dummy-column">
                <h2>Documentation</h2>
                <a class="dummy-media-object" href="/color">
                    <img src="../images/thumbs/TooltipStylesInspiration.png" alt="Color Doc"/>
                    <h3>Color Palette</h3>
                </a>
                <a class="dummy-media-object" href="/layouts">
                    <img src="../images/thumbs/AnimatedHeaderBackgrounds.png" alt="layouts Doc"/>
                    <h3>Page Layouts</h3>
                </a>
                <a class="dummy-media-object" href="/">
                    <img src="../images/thumbs/OffCanvas.png" alt="OffCanvas"/>
                    <h3>Off-Canvas Menu Effects</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/02/tab-styles-inspiration/">
                    <img src="../images/thumbs/TabStyles.png" alt="TabStyles"/>
                    <h3>Tab Styles Inspiration</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/">
                    <img src="../images/thumbs/ResponsiveSVGs.png" alt="ResponsiveSVGs"/>
                    <h3>Make SVGs Responsive with CSS</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/07/23/notification-styles-inspiration/">
                    <img src="../images/thumbs/NotificationStyles.png" alt="NotificationStyles"/>
                    <h3>Notification Styles Inspiration</h3>
                </a>
            </div>
        </div><!-- /morphmenu-content -->
        <span class="morphmenu-close"></span>
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="page-bg">
        <span class="logo icon-jellyfish"></span>
        <h1 class="main-title">MEDUXA<strong class="main-subtitle">Mediaset User Xperience & Appearance</strong></h1>
    </div>
{% endblock %}