@import "typography/config";
@import "typography/functions";
@import "typography/mixins";
@import "typography/extends";


// Presentational
[class*="views"] {
	h1 {
		@extend %headings_1;
		font-weight: bold;
	}
	h2 {
		@extend %headings_2;
		color: $charlie_gray;
		a {
			font-size: 0.8em;
			margin-left: em(5);
		}
	}
	p, ul {
		color: $charlie_gray;
		@include text(14);
	}
}