.chapter {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.chapter-header {
  background-color: $color_dark;

  .title {
    width: 85%;
    margin: auto;
    font-family: inherit;
    color: $color_default;
    line-height: 3em;
  }
}

.chapter-content {
  width: 85%;
  margin: 1rem auto 0 auto;
  overflow: hidden;
}

.chapter-intro {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  margin-bottom: em(40);

  .header {
    color: $color_dark;
  }

  .caption {
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: em(30);
  }
}

.article {
  padding-top: 1em;

  .article-title { color: $color_dark; }

  .article-subtitle { color: $color_darkest; }

  .article-content {  }
}