$crumb-bg: none;
$crumb-border-size: 0;
$crumb-font-color: $warning-color;


%header-breadcrumbs {
    @include crumb-container;

    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;    

    li { @include crumbs; }
}