/* Brand icons */
/* -------------------------------------------------- */
.brand_ico {
  display: block;
  width: 39px;
  height: 39px;
  background: transparent url(../images/mds_sprite.png) 0 0 no-repeat;
}
.ico-tl5 { background-position: -303px -34px; }
.ico-cuatro { background-position: -350px -34px; }
.ico-div { background-position: -493px -34px; }