.main-title {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0;

  font-family: 'Raleway', Arial, sans-serif;
  font-size: 3em;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: .25em;
  color: #444;
  text-align: center;
  cursor: default;

  @media #{$medium-up} {
    font-size: 6em;
    top: 50%;
  }

  .main-subtitle {
    display: block;
    margin: 0;

    font-size: .4em;
    font-weight: normal;
    color: #222;
    letter-spacing: .15em;
  }
}

/*.logo {
  position: absolute;
  top: 15%;
  left: 40%;
  right: 40%;
  font-family: 'jellyfish';
  font-size: 16em;
  color: #9FDCFF;
  text-shadow: 0px 1px 3px #555;
  opacity: .75;

  transition-property: top, color;
  transition-duration: .5s;

  &:hover {
    top: 10%;
    color: #85DEE8;
  }
}*/
