<div class="card small-7">
        <div class="card-image">
        <img src="http://cdn.traveler.es/uploads/images/thumbs/201351/glaciar_perito_moreno_argentina_1318_1200x600.jpg">
        <span class="card-title">Perito Moreno - Argentina</span>
    </div>

    <div class="card-content">
        <p>Soy una tarjeta muy simple. Soy buena mostrando pequeños trozos de información. Soy conveniente porque requiero pocas etiquetas para usarme efectivamente.</p>
    </div>
    <div class="card-action">
        <a href="#">This is a link</a>
    </div>
</div>

<div class="card small-7">
    <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
    </div>
</div>