$color-white: "255,255,255";
$color-accent: "255,64,129";

$badge-font-size: 12px;
$badge-color: unquote("rgb(#{$color-white})") !default;
$badge-color-inverse: unquote("rgb(#{$color-accent})") !default;
$badge-background: unquote("rgb(#{$color-accent})") !default;
$badge-background-inverse: unquote("rgba(#{$color-white},0.2)") !default;
$badge-size : 22px;
$badge-padding: 2px;