<h1>Grid</h1>

<div class="l_1c">
    <div class="col">A</div>
</div>

<div class="l_2c">
    <div class="col">A</div>
    <div class="col">B</div>
</div>

<div class="l_3c_A">
    <div class="col">A</div>
    <div class="col">B</div>
    <div class="col">C</div>
</div>

<div class="l_3c_B">
    <div class="col">A</div>
    <div class="col">B</div>
    <div class="col">C</div>
</div>

<div class="l_4c_A">
    <div class="col"><p>A</p></div>
    <div class="col"><p>B</p></div>
    <div class="col"><p>C</p></div>
    <div class="col"><p>D</p></div>
</div>

<div class="l_4c_B">
    <div class="col"><p>A</p></div>
    <div class="col"><p>B</p></div>
    <div class="col"><p>C</p></div>
    <div class="col"><p>D</p></div>
</div>

<div class="l_4c_C">
    <div class="col"><p>A</p></div>
    <div class="col"><p>B</p></div>
    <div class="col"><p>C</p></div>
    <div class="col"><p>D</p></div>
</div>
