<h2>Default messages</h2>

{{> modules/messages/message class='msg' text='Simple message' }}
{{> modules/messages/message class='msg -valid' text='OK message'}}
{{> modules/messages/message class='msg -error' text='Error message'}}
{{> modules/messages/message class='msg -warning' text='Warning message'}}
{{> modules/messages/message class='msg -info' text='Info message'}}

<h2>Small messages</h2>

<h2>Large messages</h2>

<h2>Extra Large messages</h2>