<div class="text-center">
    <div class="loader-container"><span class="loader-number">1</span>

        <div class="loader loader-1"></div>
    </div>
    <div class="loader-container"><span class="loader-number">2</span>

        <div class="loader loader-2"></div>
    </div>
    <div class="loader-container"><span class="loader-number">3</span>

        <div class="loader loader-3 -red"></div>
    </div>
    <div class="loader-container"><span class="loader-number">4</span>

        <div class="loader loader-4 "></div>
    </div>
    <div class="loader-container"><span class="loader-number">5</span>

        <div class="loader loader-5"></div>
    </div>
    <div class="loader-container"><span class="loader-number">6</span>

        <div class="loader loader-6 -red "></div>
    </div>
    <div class="loader-container"><span class="loader-number">7</span>

        <div class="loader loader-7 "></div>
    </div>
    <div class="loader-container "><span class="loader-number">8</span>

        <div class="loader loader-8 -red"></div>
    </div>

    <div id="status-loader" class="loader-container "><span class="loader-number">triggered</span>

        <div></div>
    </div>

    <div class="trigger">trigger</div>
</div>