///
/// general new module - Functional Imports
///
@import "general-new/config";
@import "general-new/mixins";
@import "general-new/extends";


.layout-left-column{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  @media #{$medium-up}{
    width: 63%;
  }

}

.layout-right-column{
  display: inline-block;
  vertical-align: top;

  width: 100%;
  text-align: center;

  @media #{$medium-up}{
    margin-left: -4px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 37%;
  }
}

.small-gallery{
    margin: 1em 0 0;
    padding: 0;

  li{
    display: inline-block;
    list-style: none;
    margin-bottom: 0.3em;

  }
}

.general-new{
  font-size: 1rem;

  .general-new-img {
    display: none;
  }

  @media #{$medium-up} {
    .general-new-img{
      display: inline-block;
      width: 100%;
    }
  }
}

.video-share-new{
  margin-top: 0.5rem;
  .video-share-video{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .video-share-text{
    width: 100%;

    h2{
      font-size: 18px;
    }
  }

  @media #{$medium-only} {
    .video-share-video{
      width: 70%;
      img{
        width: 100%;
      }
      float: left;
    }
    .video-share-text{
      width: 30%;
      float: left;
      padding-left: 1em;
    }
  }

}

.group-news{
  margin-left: 0;
  .group-news-item{
    list-style: none;

    margin-top: 1em;

    .group-news-item-image {
      display: none;
      img{

        width: 100%;
      }
    }
    .group-news-item-text {

      float: left;
      width: 100%;
      h2 {
        font-size: 18px;
      }

    }

    @media #{$medium-up} {

      .group-news-item-image {
        display: block;
        float: left;
        width: 25%;
      }

      .group-news-item-text {
        padding-left: 1rem;
        float: left;
        width: 75%;

      }

    }
  }
}
