///
/// header module - Functional Imports
///
@import "header/config";
@import "header/mixins";
@import "header/extends";


.main-header{
  background: #00AADB;
  border-bottom: 10px solid white;
  img{
    width: 100%;
    margin-left: -10%;
  }
}