<div class="row">
	<div class="column">
		<p class="msg">Mensaje de prueba<button>x</button></p>
		<p class="msg -info -small">Mensaje de prueba<button>x</button></p>
		<p class="msg -valid">Mensaje de prueba<button>x</button></p>
		<p class="msg -warning -large">Mensaje de prueba<button>x</button></p>
		<p class="msg-error">Mensaje de prueba<button>x</button></p>		
	</div>
</div>