// Message Element
%message {
  padding: $msg-size-m + rem;
	margin-bottom: $msg-size-m + rem;
	border: 1px solid;
	border-radius: .15rem;
	font-size: $msg-font-m + rem;
	color: $msg-color;
	border-color: lighten($msg-color, 20%);
	background: lighten($msg-color, 40%);
	
	&:hover {
	  opacity: 0.75;
	}
}

// Color modifiers
%message--error{
	@include _set_message_color(error);
}
%message--valid {
	@include _set_message_color(valid);
}
%message--warning{
	@include _set_message_color(warning);  
}
%message--info{
	@include _set_message_color(info);
}

// Size modifiers
%message--small {
	@include _set_message-size(s);
}
%message--large {
	@include _set_message-size(l); 
}
%message--xlarge {
	@include _set_message-size(xl);
}