<div class="row">
    <div class="column">
        <p class="msg -large">Mensaje de prueba<button>x</button></p>
        <p class="msg -valid -large">Mensaje de prueba<button>x</button></p>
        <p class="msg -error -large">Mensaje de prueba<button>x</button></p>
        <p class="msg -warning -large">Mensaje de prueba<button>x</button></p>
        <p class="msg -info -large">Mensaje de prueba<button>x</button></p>
    </div>
</div>