<div class="row">
    <div class="column">
        <p class="msg">Mensaje de prueba</p>
        <p class="msg -valid">Mensaje de prueba</p>
        <p class="msg -error">Mensaje de prueba</p>
        <p class="msg -warning">Mensaje de prueba</p>
        <p class="msg -info">Mensaje de prueba</p>
    </div>
</div>