<div class="row">
	<div class="column">
        <p class="msg -small">Mensaje de prueba<button>x</button></p>
        <p class="msg -valid -small">Mensaje de prueba<button>x</button></p>
        <p class="msg -error -small">Mensaje de prueba<button>x</button></p>
        <p class="msg -warning -small">Mensaje de prueba<button>x</button></p>
		<p class="msg -info -small">Mensaje de prueba<button>x</button></p>
	</div>
</div>