<div class="row">
    <div class="column">
        <p class="msg -xlarge">Mensaje de prueba</p>
        <p class="msg -valid -xlarge">Mensaje de prueba</p>
        <p class="msg -error -xlarge">Mensaje de prueba</p>
        <p class="msg -warning -xlarge">Mensaje de prueba</p>
        <p class="msg -info -xlarge">Mensaje de prueba</p>
        <p class="msg-error">Mensaje de prueba</p>
    </div>
</div>