{% extends docTemplate %}

{% block articles %}
    <article class="article">
        <h3 class="article-title">Typography</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="primary_header_color">
                    <p>$primary_header_color</p>
                </div>
                <div class="primary_text">
                    <p>$primary_text</p>
                </div>
                <div class="secondary_text">
                    <p>$secondary_text</p>
                </div>
                <div class="href_color">
                    <p>$href_color</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">Borders, rules and shadows</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="shadow_color">
                    <p>$shadow_color</p>
                </div>
                <div class="border_color">
                    <p>$border_color</p>
                </div>
                <div class="standard_hr_color">
                    <p>$standard_hr_color</p>
                </div>
                <div class="standard_border_color">
                    <p>$standard_border_color</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">HTML5 colors</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="webkit_tap_hightlight">
                    <p>$webkit_tap_hightlight</p>
                </div>
                <div class="ins_color">
                    <p>$ins_color</p>
                </div>
                <div class="selection_color">
                    <p>$selection_color</p>
                </div>
                <div class="selection_text_color">
                    <p>$selection_text_color</p>
                </div>
                <div class="mark_color">
                    <p>$mark_color</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">Grayscale</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="alpha_gray">
                    <p>$alpha_gray</p>
                </div>
                <div class="bravo_gray">
                    <p>$bravo_gray</p>
                </div>
                <div class="charlie_gray">
                    <p>$charlie_gray</p>
                </div>
                <div class="delta_gray">
                    <p>$delta_gray</p>
                </div>
                <div class="echo_gray">
                    <p>$echo_gray</p>
                </div>
                <div class="fox_gray">
                    <p>$fox_gray</p>
                </div>
                <div class="golf_gray">
                    <p>$golf_gray</p>
                </div>
                <div class="hotel_gray">
                    <p>$hotel_gray</p>
                </div>
                <div class="india_gray">
                    <p>$india_gray</p>
                </div>
                <div class="white">
                    <p>$white</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">Alpha color scale</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="alpha_color">
                    <p>$alpha_color</p>
                </div>
                <div class="alpha_color_bravo">
                    <p>$alpha_color_bravo</p>
                </div>
                <div class="alpha_color_charlie">
                    <p>$alpha_color_charlie</p>
                </div>
                <div class="alpha_color_delta">
                    <p>$alpha_color_delta</p>
                </div>
                <div class="alpha_color_echo">
                    <p>$alpha_color_echo</p>
                </div>
                <div class="alpha_color_fox">
                    <p>$alpha_color_fox</p>
                </div>
                <div class="alpha_color_golf">
                    <p>$alpha_color_golf</p>
                </div>
                <div class="alpha_color_hotel">
                    <p>$alpha_color_hotel</p>
                </div>
                <div class="alpha_color_india">
                    <p>$alpha_color_india</p>
                </div>
                <div class="alpha_color_juliet">
                    <p>$alpha_color_juliet</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">Bravo color scale</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="bravo_color">
                    <p>$bravo_color</p>
                </div>
                <div class="bravo_color_bravo">
                    <p>$bravo_color_bravo</p>
                </div>
                <div class="bravo_color_charlie">
                    <p>$bravo_color_charlie</p>
                </div>
                <div class="bravo_color_delta">
                    <p>$bravo_color_delta</p>
                </div>
                <div class="bravo_color_echo">
                    <p>$bravo_color_echo</p>
                </div>
                <div class="bravo_color_fox">
                    <p>$bravo_color_fox</p>
                </div>
                <div class="bravo_color_golf">
                    <p>$bravo_color_golf</p>
                </div>
                <div class="bravo_color_hotel">
                    <p>$bravo_color_hotel</p>
                </div>
                <div class="bravo_color_india">
                    <p>$bravo_color_india</p>
                </div>
                <div class="bravo_color_juliet">
                    <p>$bravo_color_juliet</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">Charlie color scale</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="charlie_color">
                    <p>$charlie_color</p>
                </div>
                <div class="charlie_color_bravo">
                    <p>$charlie_color_bravo</p>
                </div>
                <div class="charlie_color_charlie">
                    <p>$charlie_color_charlie</p>
                </div>
                <div class="charlie_color_delta">
                    <p>$charlie_color_delta</p>
                </div>
                <div class="charlie_color_echo">
                    <p>$charlie_color_echo</p>
                </div>
                <div class="charlie_color_fox">
                    <p>$charlie_color_fox</p>
                </div>
                <div class="charlie_color_golf">
                    <p>$charlie_color_golf</p>
                </div>
                <div class="charlie_color_hotel">
                    <p>$charlie_color_hotel</p>
                </div>
                <div class="charlie_color_india">
                    <p>$charlie_color_india</p>
                </div>
                <div class="charlie_color_juliet">
                    <p>$charlie_color_juliet</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">Delta color scale</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="delta_color">
                    <p>$delta_color</p>
                </div>
                <div class="delta_color_bravo">
                    <p>$delta_color_bravo</p>
                </div>
                <div class="delta_color_charlie">
                    <p>$delta_color_charlie</p>
                </div>
                <div class="delta_color_delta">
                    <p>$delta_color_delta</p>
                </div>
                <div class="delta_color_echo">
                    <p>$delta_color_echo</p>
                </div>
                <div class="delta_color_fox">
                    <p>$delta_color_fox</p>
                </div>
                <div class="delta_color_golf">
                    <p>$delta_color_golf</p>
                </div>
                <div class="delta_color_hotel">
                    <p>$delta_color_hotel</p>
                </div>
                <div class="delta_color_india">
                    <p>$delta_color_india</p>
                </div>
                <div class="delta_color_juliet">
                    <p>$delta_color_juliet</p>
                </div>
            </div>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">Echo color scale</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>

            <div class="colorcode">
                <div class="echo_color">
                    <p>$echo_color</p>
                </div>
                <div class="echo_color_bravo">
                    <p>$echo_color_bravo</p>
                </div>
                <div class="echo_color_charlie">
                    <p>$echo_color_charlie</p>
                </div>
                <div class="echo_color_delta">
                    <p>$echo_color_delta</p>
                </div>
                <div class="echo_color_echo">
                    <p>$echo_color_echo</p>
                </div>
                <div class="echo_color_fox">
                    <p>$echo_color_fox</p>
                </div>
                <div class="echo_color_golf">
                    <p>$echo_color_golf</p>
                </div>
                <div class="echo_color_hotel">
                    <p>$echo_color_hotel</p>
                </div>
                <div class="echo_color_india">
                    <p>$echo_color_india</p>
                </div>
                <div class="echo_color_juliet">
                    <p>$echo_color_juliet</p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}