{% extends 'client/index.twig' %}

{% block body %}
    <div class="chapter">
        <header class="chapter-header">
            <h1 class="title">{{ doc.title }}</h1>
        </header>

        <section class="chapter-content">
            <div class="chapter-intro">
                <h2 class="header">{{ doc.intro_title }}</h2>
                <p class="caption">{{ doc.intro_text }}</p>
            </div>

            {% block articles %}{% endblock %}
        </section>
    </div>
{% endblock %}