{% extends "client/index.twig" %}

{% block body %}

   <div style="width: 150px">
      <h1>{{ width }}</h1>
      <div class="delayed-image-load" data-src="//farm5.staticflickr.com/4148/4990539658_a38ed4ec6e_{width}.jpg" data-alt="alternative text"></div>
   </div>

{% endblock body %}