{% extends docTemplate %}

{% block articles %}
    <article class="article">
        <h3 class="article-title">One column layouts</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>
        </div>
    </article>

    <article class="article">
        <h3 class="article-title">Two column layouts</h3>
        <div class="article-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, praesentium, quas! Beatae cumque dignissimos dolorum et facilis, hic, libero magnam odio, officiis omnis sint voluptates! Accusamus doloremque similique temporibus unde!</p>
        </div>
        <div class="l_5c_A">
            <div class="col"><p>A</p></div>
            <div class="col"><p>B</p></div>
            <div class="col"><p>C</p></div>
            <div class="col"><p>D</p></div>
            <div class="col end"><p>E</p></div>
        </div>
        <div class="l_5c_B">
            <div class="col"><p>A</p></div>
            <div class="col"><p>B</p></div>
            <div class="col"><p>C</p></div>
            <div class="col"><p>D</p></div>
            <div class="col end"><p>E</p></div>
        </div>
        <div class="l_5c_C">
            <div class="col"><p>A</p></div>
            <div class="col"><p>B</p></div>
            <div class="col"><p>C</p></div>
            <div class="col"><p>D</p></div>
            <div class="col end"><p>E</p></div>
        </div>
        <div class="l_5c_D">
            <div class="col"><p>A</p></div>
            <div class="col"><p>B</p></div>
            <div class="col"><p>C</p></div>
            <div class="col"><p>D</p></div>
            <div class="col end"><p>E</p></div>
        </div>
    </article>
{% endblock %}