{% extends docTemplate %}

{% block articles %}
    <article class="article">

        {% for loader in loaders %}
            {% set parameters ={'classes':loader.classes, 'loaderNumber':loader.number} %}
            {% include 'fw/templates/components/loader.twig' %}
        {% endfor %}

        <div id="status-loader" class="loader-container "><span class="loader-number">triggered</span>

            <div></div>
        </div>

        <div class="trigger">trigger</div>

    </article>

{% endblock %}