
// Color variables
$header-color-primary: #0092B2;
$header-color-secondary: #A8C545;
$header-color-terciary: #5F5448;
$header-color-auxiliar: #DFD3B6;

// Size variables
$header-size-h1: 2;
$header-size-h2: 1.5;
$header-size-h3: 1;


/// ----------------------------------------------------------------------------------------------------


$header-color: (
	primary: $header-color-primary,
	secondary: $header-color-secondary,
	terciary: $header-color-terciary,
);

$header-size: (
	h1: $header-size-h1,
	h2: $header-size-h2,
	h3: $header-size-h3,
);


/// ----------------------------------------------------------------------------------------------------


$header-list: (
	(h1 primary), (h1 secondary), (h1 terciary),
	(h2 primary), (h2, secondary), (h2 terciary),
	(h3 primary), (h3, secondary), (h3 terciary),
) !default;