$bg-color: #333;

.loader-container {
  background: lighten($bg-color, 2%);
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  position: relative;
  width: 140px;
  height: 140px;
  &:hover {
    background: lighten($bg-color, 4%);
  }
}