<header class="main-header">
    <img width="100%" src="http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/tl5_bg-theme_main-header_default.png?hash=d6b5560caf03ac454e188d5cdf9ca8a3">
</header>

<div class="l_2c">
    <div class="col">
        <div class="kicker" href="http://www.telecinco.es/pasaportealaisla/" target="_self">La final de 'Pasaporte', hoy a las 21.50 h.</div>
        <div class="general-new">
            <h2>
                <a href="https://www.google.es/"
                   title="Lágrimas de arrepentimiento, fenómenos paranormales y sorpresas en la recta final" target="_self">Lágrimas
                    de arrepentimiento, fenómenos paranormales y sorpresas en la recta final</a>
            </h2>


            <a class="text-center" href="https://www.google.es/" title="Lágrimas de arrepentimiento, fenómenos paranormales y sorpresas en la recta final" target="_self">

                <img class="general-new-img" src="http://telecincostatic-a.akamaihd.net/pasaportealaisla/galas/recta-final/Isaac-derrumba-tonto_MDSVID20150831_0006_25.png" alt="Isaac se derrumba: &quot;He sido un tonto&quot;">
            </a>


            <p>
                Los concursantes de 'Pasaporte a la isla' han vivido una intensa recta final. A tan solo un día de la gran
                final, muchos de ellos se han enfrentado a sus miedos, han recibido sorpresas y han reconocido sus errores.
            </p>



            <ul class="thumb-block">
                <li>
                    <a href="/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_2_2044380162.html" title="“No se lo dije a Ralf porque no quería hacerlo por teléfono”" target="_self">

                        <img data-original="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" src="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" width="150" height="88" alt="Mercedes Barrachina: “No se lo he dicho a Ralf porque no quería hacerlo por teléfono”">
                        <p>
                            Ion: “Anna no quiere ni venir a España, ni hablar con Escassi”
                        </p>

                    </a>
                </li>

                <li>
                    <a href="/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_2_2044380162.html" title="“No se lo dije a Ralf porque no quería hacerlo por teléfono”" target="_self">

                        <img data-original="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" src="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" width="150" height="88" alt="Mercedes Barrachina: “No se lo he dicho a Ralf porque no quería hacerlo por teléfono”">
                        <p>
                            Ion: “Anna no quiere ni venir a España, ni hablar con Escassi”
                        </p>

                    </a>
                </li>

                <li>
                    <a href="/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_2_2044380162.html" title="“No se lo dije a Ralf porque no quería hacerlo por teléfono”" target="_self">

                        <img class="bbtlazyimage" data-original="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" src="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" width="150" height="88" alt="Mercedes Barrachina: “No se lo he dicho a Ralf porque no quería hacerlo por teléfono”">
                        <p>
                            Ion: “Anna no quiere ni venir a España, ni hablar con Escassi”
                        </p>

                    </a>
                </li>


            </ul>

        </div>
    </div>
    <div class="col">
        <div class="kicker" href="http://www.telecinco.es/pasaportealaisla/" target="_self">La final de 'Pasaporte', hoy a las 21.50 h.</div>
        <div class="general-new">
            <h2>
                <a href="https://www.google.es/"
                   title="Lágrimas de arrepentimiento, fenómenos paranormales y sorpresas en la recta final" target="_self">Lágrimas
                    de arrepentimiento, fenómenos paranormales y sorpresas en la recta final</a>
            </h2>


            <a class="text-center" href="https://www.google.es/" title="Lágrimas de arrepentimiento, fenómenos paranormales y sorpresas en la recta final" target="_self">

                <img class="general-new-img" src="http://telecincostatic-a.akamaihd.net/pasaportealaisla/galas/recta-final/Isaac-derrumba-tonto_MDSVID20150831_0006_25.png" alt="Isaac se derrumba: &quot;He sido un tonto&quot;">
            </a>


            <p>
                Los concursantes de 'Pasaporte a la isla' han vivido una intensa recta final. A tan solo un día de la gran
                final, muchos de ellos se han enfrentado a sus miedos, han recibido sorpresas y han reconocido sus errores.
            </p>



            <ul class="thumb-block">
                <li>
                    <a href="/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_2_2044380162.html" title="“No se lo dije a Ralf porque no quería hacerlo por teléfono”" target="_self">

                        <img data-original="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" src="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" width="150" height="88" alt="Mercedes Barrachina: “No se lo he dicho a Ralf porque no quería hacerlo por teléfono”">
                        <p>
                            Ion: “Anna no quiere ni venir a España, ni hablar con Escassi”
                        </p>

                    </a>
                </li>

                <li>
                    <a href="/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_2_2044380162.html" title="“No se lo dije a Ralf porque no quería hacerlo por teléfono”" target="_self">

                        <img data-original="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" src="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" width="150" height="88" alt="Mercedes Barrachina: “No se lo he dicho a Ralf porque no quería hacerlo por teléfono”">
                        <p>
                            Ion: “Anna no quiere ni venir a España, ni hablar con Escassi”
                        </p>

                    </a>
                </li>

                <li>
                    <a href="/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_2_2044380162.html" title="“No se lo dije a Ralf porque no quería hacerlo por teléfono”" target="_self">

                        <img class="bbtlazyimage" data-original="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" src="http://telecincostatic-a.akamaihd.net/salvame/2015/agosto/31-08-2015/Mercedes-Barrachina-Ralf-hacerlo-telefono_MDSVID20150831_0162_24.jpg" width="150" height="88" alt="Mercedes Barrachina: “No se lo he dicho a Ralf porque no quería hacerlo por teléfono”">
                        <p>
                            Ion: “Anna no quiere ni venir a España, ni hablar con Escassi”
                        </p>

                    </a>
                </li>


            </ul>

        </div>
    </div>
</div>

<hr class="separator-line">

<div class="l_1c">
    <div class="col">
        <div class="kicker" href="http://www.telecinco.es/pasaportealaisla/" target="_self">Lo último de 'sálvame'</div>
        <ul class="group-news">

            <li class="group-news-item">

                <div class="group-news-item-image">
                    <a href="/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_2_2044905161.html" title="El lapsus y las enigmáticas palabras de Rosa Benito" target="_self">

                        <img src="http://telecincostatic-a.akamaihd.net/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_MDSVID20150901_0161_22.jpg" alt="El lapsus y las enigmáticas palabras de Rosa Benito en su concierto" style="display: block;"><noscript>&lt;img src="http://telecincostatic-a.akamaihd.net/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_MDSVID20150901_0161_22.jpg" width="192" height="108" alt="El lapsus y las enigm&amp;aacute;ticas palabras de Rosa Benito en su concierto" /&gt;</noscript>

                    </a>
                </div>

                <div class="group-news-item-text">

                    <h2>
                        <a href="/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_2_2044905161.html" title="El lapsus y las enigmáticas palabras de Rosa Benito" target="_self">El lapsus y las enigmáticas palabras de Rosa Benito</a>
                    </h2>

                    <p>
                        “Ayer me pasó una cosa en mi casa que sentí tanto dolor que digan lo que digan y hagan lo que hagan ya me da igual porque lo único que quiero es salud”, decía Rosa Benito al público.
                    </p>

                </div>
                <div class="clearfix"></div>

            </li>

            <li class="group-news-item">

                <div class="group-news-item-image">
                    <a href="/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_2_2044905161.html" title="El lapsus y las enigmáticas palabras de Rosa Benito" target="_self">

                        <img src="http://telecincostatic-a.akamaihd.net/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_MDSVID20150901_0161_22.jpg" alt="El lapsus y las enigmáticas palabras de Rosa Benito en su concierto" style="display: block;"><noscript>&lt;img src="http://telecincostatic-a.akamaihd.net/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_MDSVID20150901_0161_22.jpg" width="192" height="108" alt="El lapsus y las enigm&amp;aacute;ticas palabras de Rosa Benito en su concierto" /&gt;</noscript>

                    </a>
                </div>

                <div class="group-news-item-text">

                    <h2>
                        <a href="/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_2_2044905161.html" title="El lapsus y las enigmáticas palabras de Rosa Benito" target="_self">El lapsus y las enigmáticas palabras de Rosa Benito</a>
                    </h2>

                    <p>
                        “Ayer me pasó una cosa en mi casa que sentí tanto dolor que digan lo que digan y hagan lo que hagan ya me da igual porque lo único que quiero es salud”, decía Rosa Benito al público.
                    </p>

                </div>
                <div class="clearfix"></div>

            </li>

            <li class="group-news-item">

                <div class="group-news-item-image">
                    <a href="/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_2_2044905161.html" title="El lapsus y las enigmáticas palabras de Rosa Benito" target="_self">

                        <img src="http://telecincostatic-a.akamaihd.net/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_MDSVID20150901_0161_22.jpg" alt="El lapsus y las enigmáticas palabras de Rosa Benito en su concierto" style="display: block;"><noscript>&lt;img src="http://telecincostatic-a.akamaihd.net/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_MDSVID20150901_0161_22.jpg" width="192" height="108" alt="El lapsus y las enigm&amp;aacute;ticas palabras de Rosa Benito en su concierto" /&gt;</noscript>

                    </a>
                </div>

                <div class="group-news-item-text">

                    <h2>
                        <a href="/salvame/2015/septiembre/01-09-2015/enigmaticas-palabras-Rosa-Benito-concierto_2_2044905161.html" title="El lapsus y las enigmáticas palabras de Rosa Benito" target="_self">El lapsus y las enigmáticas palabras de Rosa Benito</a>
                    </h2>

                    <p>
                        “Ayer me pasó una cosa en mi casa que sentí tanto dolor que digan lo que digan y hagan lo que hagan ya me da igual porque lo único que quiero es salud”, decía Rosa Benito al público.
                    </p>

                </div>
                <div class="clearfix"></div>

            </li>



        </ul>
    </div>
</div>

<div class="kicker" href="http://www.telecinco.es/pasaportealaisla/" target="_self">Links</div>

<footer class="main-footer">
    <ul class="footer-links-groups">
        <li class="footer-link-group">
            <ul>
                <li>Televisión en directo</li>
                <li>Radios online</li>
                <li>Series online</li>
                <li>Programas TV</li>
                <li>Noticias</li>
                <li>Deportes</li>
                <li>MotoGP</li>
                <li>Blogs</li>
                <li>Cine</li>
                <li>Concursos TV</li>

            </ul>
        </li>

        <li class="footer-link-group">
            <ul>
                <li>Televisión en directo</li>
                <li>Radios online</li>
                <li>Series online</li>
                <li>Programas TV</li>
                <li>Concursos TV</li>

            </ul>
        </li>


        <li class="footer-link-group">
            <ul>
                <li>Televisión en directo</li>
                <li>Radios online</li>
                <li>Series online</li>
                <li>Programas TV</li>
                <li>Noticias</li>
                <li>Deportes</li>

            </ul>
        </li>
        <div class="clearfix"></div>

    </ul>

    <div class="footer-branding-area">
        <div class="ico-mds"></div>
        <ul class="branding-icons">
            <li class="ico-tl5"></li>
            <li class="ico-cuatro"></li>
            <li class="ico-fac"></li>
            <li class="ico-boing"></li>
            <li class="ico-div"></li>
            <li class="ico-nrg"></li>
        </ul>
    </div>
</footer>