<header class="main-header">
        <img width="100%" src="http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/tl5_bg-theme_main-header_default.png?hash=d6b5560caf03ac454e188d5cdf9ca8a3">
</header>

<section class="layout-left-column">
<div class="kicker" href="http://www.telecinco.es/pasaportealaisla/" target="_self">La final de 'Pasaporte', hoy a las 21.50 h.</div>

<div class="general-new"><!--star general new-->
    <h2>
        <a href="https://www.google.es/"
           title="Lágrimas de arrepentimiento, fenómenos paranormales y sorpresas en la recta final" target="_self">Lágrimas
            de arrepentimiento, fenómenos paranormales y sorpresas en la recta final</a>
    </h2>


    <a class="text-center" href="https://www.google.es/" title="Lágrimas de arrepentimiento, fenómenos paranormales y sorpresas en la recta final" target="_self">

        <img class="general-new-img" src="http://telecincostatic-a.akamaihd.net/pasaportealaisla/galas/recta-final/Isaac-derrumba-tonto_MDSVID20150831_0006_25.png" alt="Isaac se derrumba: &quot;He sido un tonto&quot;">
    </a>


    <p>
        Los concursantes de 'Pasaporte a la isla' han vivido una intensa recta final. A tan solo un día de la gran
        final, muchos de ellos se han enfrentado a sus miedos, han recibido sorpresas y han reconocido sus errores.
    </p>



</div><!--end general new-->
</section>

<section class="layout-right-column">
    <div class="kicker" href="http://www.telecinco.es/pasaportealaisla/" target="_self">Imagenes</div>

    <ul class="small-gallery">
        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=0" class="thumb-inner btn-thumb item_0 tooltip-def selected">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/mato-Tom-Murphy-asesino-confiesa_MDSVID20150902_0043_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=1" class="thumb-inner btn-thumb item_1 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc09/Cornell-regresa-escenario-nuevas-evidencias_MDSVID20150902_0032_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li class="thumb">
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=2" class="thumb-inner btn-thumb item_2 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc09/Jane-Murphy-Ben-Jess-asesinar_MDSVID20150902_0036_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=3" class="thumb-inner btn-thumb item_3 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc09/Ben-Jess-juntos-cama_MDSVID20150902_0035_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=4" class="thumb-inner btn-thumb item_4 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/Cornell-Ben-Tom-libre-irse_MDSVID20150902_0039_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=5" class="thumb-inner btn-thumb item_5 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/ultimo-interogatorio-Cornell-Ben_MDSVID20150902_0046_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=6" class="thumb-inner btn-thumb item_6 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/Ben-detenido-violar-vecina_MDSVID20150902_0037_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=7" class="thumb-inner btn-thumb item_7 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/Ben-carcel-despues-declararse-culpable_MDSVID20150902_0050_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=8" class="thumb-inner btn-thumb item_8 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/Ben-encuentra-zapatillas-escondidas-exterior_MDSVID20150902_0041_12.png">
                <span class="sel"></span>
            </a>
        </li>
        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=6" class="thumb-inner btn-thumb item_6 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/Ben-detenido-violar-vecina_MDSVID20150902_0037_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=7" class="thumb-inner btn-thumb item_7 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/Ben-carcel-despues-declararse-culpable_MDSVID20150902_0050_12.png">
                <span class="sel"></span>
            </a>
        </li>

        <li >
            <a href="/secretosymentiras/temporada-1/t01xc10/confesiones-mentiras-desenlace-Secretos-Mentiras_5_2045475002.html?itemId=8" class="thumb-inner btn-thumb item_8 tooltip-def">
                <img width="96" height="54" src="http://telecincostatic-a.akamaihd.net/secretosymentiras/temporada-1/t01xc10/Ben-encuentra-zapatillas-escondidas-exterior_MDSVID20150902_0041_12.png">
                <span class="sel"></span>
            </a>
        </li>
    </ul>

    <div class="kicker" href="http://www.telecinco.es/pasaportealaisla/" target="_self">Sigue telecinco.es en redes</div>

    <ul class="follow-social-list">
        <li><a href="http://www.facebook.com/tele5" class="btn-fb" target="_self"><span>Facebook</span></a></li>
        <li><a href="http://twitter.com/telecincoes" class="btn-tw" target="_self"><span>Twitter</span></a></li>
        <li><a href="/telecinco/4000001/fotogalerias.html" class="btn-gal" target="_self"><span>Galeria</span></a></li>
        <li><a href="http://www.telecinco.es/lo-ultimo/" class="btn-fl" target="_self"><span>Folder</span></a></li>
        <li><a href="/rss/" class="btn-rss" target="_self"><span>RSS</span></a></li>
    </ul>

</section>
<div class="kicker" href="http://www.telecinco.es/pasaportealaisla/" target="_self">Links</div>

<footer class="main-footer">
    <ul class="footer-links-groups">
        <li class="footer-link-group">
            <ul>
                <li>Televisión en directo</li>
                <li>Radios online</li>
                <li>Series online</li>
                <li>Programas TV</li>
                <li>Noticias</li>
                <li>Deportes</li>
                <li>MotoGP</li>
                <li>Blogs</li>
                <li>Cine</li>
                <li>Concursos TV</li>

            </ul>
        </li>

        <li class="footer-link-group">
            <ul>
                <li>Televisión en directo</li>
                <li>Radios online</li>
                <li>Series online</li>
                <li>Programas TV</li>
                <li>Concursos TV</li>

            </ul>
        </li>


        <li class="footer-link-group">
            <ul>
                <li>Televisión en directo</li>
                <li>Radios online</li>
                <li>Series online</li>
                <li>Programas TV</li>
                <li>Noticias</li>
                <li>Deportes</li>

            </ul>
        </li>
        <div class="clearfix"></div>

    </ul>

    <div class="footer-branding-area">
        <div class="ico-mds"></div>
        <ul class="branding-icons">
            <li class="ico-tl5"></li>
            <li class="ico-cuatro"></li>
            <li class="ico-fac"></li>
            <li class="ico-boing"></li>
            <li class="ico-div"></li>
            <li class="ico-nrg"></li>
        </ul>
    </div>
</footer>